/*html,body{
	background: #EDF6E5;
	border: 3px solid #ffffff;
	padding: 10px;
}
#heading .brown{
	
	margin: 0.1px;
	background-color: #D1B000;
	border-radius: 0;
	padding: 4px 21px;
}
section .btn{
	margin: 0.1px;
	border-radius: 0;
	padding: 4px 21px;
	background: #F5F7B2;
}
section .btn:hover{
	background-color: #E5D549;
}
.template{
	background: #000000;
	margin-top: 1.5%;
}
.template .image{
	width: 100px;
	border-radius: 100%;
	padding: 20px;
}
.template p{
	color: #FEA82F;
	padding-left: 20px;

}
.template progress{
	width: 700px;
	color: #FEA82F;
	margin-left: 175px;

}
/*.numberCircle {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    padding: 35px;
    background: transparent;
    border: 1px solid #fff;
    text-align: center;
    display: flex;
}*/
/*.overall .score{
	border-radius: 50%;
	border: 1px solid #fff;
	padding: 25px;
	width: 100px;
	height: 100px;
	display: inline-block;
}*/


/*------------------------------------------------------------------------------------*/
html,body{
	background: #EDF6E5;
	margin: 0px;
	padding: 0px;
}
#heading .btn{
	margin: 0;
}
#heading{
	margin: 10px;
}
#heading .brown{
	
	
	background-color: #D1B000;
	border-radius: 0;
	padding: 4px 21px;
}
section .btn{
	
	border-radius: 0;
	padding: 4px 21px;
	background: #F5F7B2;
}
section .btn:hover{
	background-color: #E5D549;
}
.naming{
	background: #000;
}
.naming img{
	width: 100px;
	border-radius: 100%;
	margin: 20px;
}
.naming p{
	color: #FEA82F;
	padding-left: 20px;
}
.naming progress{
	width: 700px;
	color: #FEA82F;
	margin-left: 175px;

}
.col-sm-2 .score{
	border-radius: 50%;
	height: 100px;
	width: 100px;
	border: 1px solid #fff;
	margin-top: 100px;
	margin-left: 10px;
	padding-left: -25px;
	font-size: 45px;
	color: #fff;
	text-align: center;
	padding-top: 10px;
}
}
.col-sm-2 p{
	color: #fff;
	text-align: center;
}
.accordion-body {
	text-align: center;
}.accordion-body progress{
	width: 700px;
}
#footer{
	text-align: center;
	background: #161616	;
	margin: 0px;
	padding: 70px;
	color: #fff;
	text-decoration: none;
}